<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Clam</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/clamflix/swiper.min.css" />
    <link rel="icon" type="image/x-icon" href="~/favicon.ico"/>

    <script src="~/js/site.js"></script>
    <script src="~/js/clamflix/swiper.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark navbar-custom box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/brand/batman.png" width="40" height="40" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        @if ((User.Identity.IsAuthenticated) && ((User.IsInRole("Member")) || (User.IsInRole("Student")) 
                            || (User.IsInRole("Contributor")) || (User.IsInRole("Moderator")) || (User.IsInRole("Admin"))
                            || (User.IsInRole("Engineer")) || (User.IsInRole("Developer")) || (User.IsInRole("Owner"))))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="Academia" asp-controller="Academia" asp-action="Category">Academia</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link text-light dropdown-toggle" data-toggle="dropdown" href="#">Stream</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item dropdown">
                                        <a class="dropdown-item nav-link text-light custom-link" asp-area="Clamflix" asp-controller="Home" asp-action="Index">Clamflix</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="dropdown-item nav-link text-light custom-link" asp-area="EBooks" asp-controller="Home" asp-action="Index">Book Library</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="dropdown-item nav-link text-light custom-link" asp-area="Music" asp-controller="Home" asp-action="Index">Music Library</a>
                                    </li>
                                </ul>
                            </li>
                            @if ((User.IsInRole("Admin") || (User.IsInRole("Engineer") || (User.IsInRole("Developer")))))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link text-light dropdown-toggle" data-toggle="dropdown" href="#">Manage</a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item dropdown">
                                            <a class="dropdown-item nav-link text-light custom-link" asp-area="" asp-controller="Account" asp-action="Index">Manage Accounts</a>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="dropdown-item nav-link text-light custom-link" asp-area="" asp-controller="Role" asp-action="Index">Manage Roles</a>
                                        </li>
                                    </ul>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-2">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Clam - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            <a asp-area="" asp-controller="Home" asp-action="Disclaimer">Disclaimer</a>
            <a asp-area="" asp-controller="Home" asp-action="TermsAndConditions">Terms and Conditions</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/clamflix/swiper.js"></script>
    @RenderSection("Scripts", required: false)
    @RenderSection("Styles", required: false)

</body>
</html>
